html,
body {
  height: 100%;
  width: 100%;
  background: #ffff00;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  cursor: url("cursor.png") 120 35, auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: itc-avant-garde-gothic-pro;
  src: url("ITCAvantGardePro-Demi.otf") format("opentype");
}

